<?xml version=“1.0”?>
<config>
<modules>
<turn_pdf>
<version>0.1.0</version>
</turn_pdf>
</modules>
<frontend>
<routers>
<pdf>
<use>standard</use>
<args>
<module>turn_pdf</module>
<frontName>pdf</frontName>
</args>
</pdf>
</routers>
<layout>
<updates>
<pdf>
<file>pdf.xml</file>
</pdf>
</updates>
</layout>
</frontend>
<global>
<models>
<pdf>
<class>turn_pdf_Model</class>
<resourceModel>pdf_mysql4</resourceModel>
</pdf>
<pdf_mysql4>
<class>turn_pdf_Model_Mysql4</class>
<entities>
<pdf>
<table>pdf</table>
</pdf>
</entities>
</pdf_mysql4>
</models>
<resources>
<pdf_setup>
<setup>
<module>turn_pdf</module>
</setup>
<connection>
<use>core_setup</use>
</connection>
</pdf_setup>
<pdf_write>
<connection>
<use>core_write</use>
</connection>
</pdf_write>
<pdf_read>
<connection>
<use>core_read</use>
</connection>
</pdf_read>
</resources>
<blocks>
<pdf>
<class>turn_pdf_Block</class>
</pdf>
</blocks>
<helpers>
<pdf>
<class>turn_pdf_Helper</class>
</pdf>
</helpers>
</global>
</config>
